/*----------------------------------------------------------------------------------------*/
/*
  Updated on July 17, 2018
*/

/*----------------------------------------------------------------------------------------*/
/*
  Watermarks
*/

textarea.watermark,
input.watermark
{
  color: #999999;
}

/*----------------------------------------------------------------------------------------*/
/*
  Menu items.
*/

.navbar-toggle
{
  background-color: #62453D;
  position: fixed;
  top: 10px;
  right: 15px;
}

/*
  Brilliant. . . .
  From https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
  Make sure that you add the classes to system/page.html.twig
*/
.navbar-toggle .icon-bar
{
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar
{
  -webkit-transform: translateX(3px) rotate(45deg);
  -moz-transform: translateX(3px) rotate(45deg);
  -o-transform: translateX(3px) rotate(45deg);

  transform: translateX(3px) rotate(45deg);

  -webkit-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;

  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar
{
  opacity: 0;
}

.navbar-toggle .bottom-bar
{
  -webkit-transform: translateX(3px) rotate(-45deg);
  -moz-transform: translateX(3px) rotate(-45deg);
  -o-transform: rotate(-45deg);

  transform: translateX(3px) rotate(-45deg);

  -webkit-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;

  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar
{
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);

  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar
{
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar
{
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);

  transform: rotate(0);
}

/*
  Bootstrap uses min-width: 768px settings,
  so max-width: 767px works in concert
*/
@media (max-width: 767px)
{
  div.navbar-collapse
  {
    position: fixed;
    width: 150px;
    top: 53px;
    right: 44px;
    padding: 0 10px;
    overflow: hidden;

    border: 1px solid #333333;
    background-color: #FBFBF8;
  }

  div.navbar-collapse ul li
  {
    float: none;
    width: 100%;
  }

}

.navbar-inverse .navbar-nav > li > a
{
  color: #62453D;
  font-weight: normal;
  font-size: 1.25em;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
  color: #0063A0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
  color: #62453D;
  background-color: lightgray;
}

/*
  From https://bootstrapstudio.io/forums/topic/center-navbar/
  Centering the navbar.
*/
@media (min-width: 768px)
{
  .navbar .navbar-nav
  {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse
  {
    text-align: center;
  }
}

.expanded.dropdown .caret
{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.expanded.dropdown.open .caret
{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/*----------------------------------------------------------------------------------------*/
/*
  From https://stackoverflow.com/questions/20751316/how-to-make-div-to-match-image-height-with-css
  Otherwise, the <a></a> will not stretch to fit the image.
*/
.dialogbox-image
{
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

a.dialogbox-image img
{
  opacity: 1.0;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;

  transition: opacity 0.25s ease;
}

a.dialogbox-image img:hover
{
  opacity: 0.75;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

/*----------------------------------------------------------------------------------------*/
/*
  From https://stackoverflow.com/questions/9189810/css-display-inline-vs-inline-block
  I'm modifying .img-responsive from Bootstrap. I need to use inline-block.
*/
.responsive-image-small,
.responsive-image-regular,
.responsive-image-large
{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.responsive-image-small
{
  max-height: 240px;
}

.responsive-image-regular
{
  max-height: 350px;
}

.responsive-image-large
{
  max-height: 480px;
}

/*
  Bootstrap uses min-width: 768px settings,
  so max-width: 767px works in concert
*/
@media (max-width: 767px)
{
  .responsive-image-small
  {
    max-height: 175px;
  }

  .responsive-image-regular
  {
    max-height: 285px;
  }

  .responsive-image-large
  {
    max-height: 415px;
  }
}

/*----------------------------------------------------------------------------------------*/
/*
  jQuery UI
*/

.ui-dialog
{
  z-index: 99999;
}

.ui-dialog .ui-dialog-titlebar
{
  padding: 0.1em 1.0em;
}

.ui-dialog .ui-dialog-content
{
  padding: 0;
}

.ui-corner-all
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-tabs-vertical
{
  width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav .ui-tabs-anchor
{
  width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav
{
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li
{
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a
{
  display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active
{
  padding-bottom: 0;
  padding-right: 0.1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel
{
  padding: 1.0em;
  float: left;
  width: 100%;

  /*
    From https://stackoverflow.com/questions/36418352/css-word-wrap-break-word-wont-work
    Now, all the text wraps, even the long URLs, and the text no longer overflows the sides.
  */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

/*----------------------------------------------------------------------------------------*/